<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand row" href="#">Recepi Book</a>
    <button
      class="navbar-toggler d-lg-none"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapsibleNavId"
      aria-controls="collapsibleNavId"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav me-auto mt-2 mt-lg-0">
      
      
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">

            <li class="mt-4" [routerLinkActive]="'active'"><a  routerLink="Recepie" >Recepies</a></li>&nbsp;&nbsp;
            <!-- <li class="mt-4"><a  routerLink="/Recepie/recepieDetail">Recepie Detail</a></li>&nbsp;&nbsp;&nbsp; -->
            <!-- <li class="mt-4"  [routerLinkActive]="'active'" ><a  routerLink="/Recepie/recepieList">Recepie List</a></li>&nbsp;&nbsp;&nbsp; -->
            <!-- <li class="mt-4" [routerLinkActive]="'active'" ><a   routerLink="/Recepie/recepieList/recepieItem">Recepie Item</a></li>&nbsp;&nbsp;&nbsp; -->
            <li class="mt-4" [routerLinkActive]="'active'" ><a   routerLink="appShoppingList">Shopping List</a></li>&nbsp;&nbsp;&nbsp;
            </ul>
          
            <ul class="nav navbar-nav navbar-right" style="margin-left: 850px;">
                <li class="dropdown" appdropdownDir><!--appdropdown is an custom directive but it's not work u can see for reference-->
                    <a href="#" class="dropdown-toggle" role="button" data-bs-toggle="dropdown">Manage <span class="caret"></span></a>
                    <ul class="dropdown-menu" >
                        <li>Save data</li>
                        <li>Fetch data</li>
                        </ul>
                        </li>
                        </ul>
</div>
</ul>
                <!-- <form class="d-flex my-2 my-lg-0">
        <input class="form-control me-sm-2" type="text" placeholder="Search" />
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          Search
        </button>
      </form> -->
    </div>
  </div>
</nav>
