<!-- <div class="row" style="margin-top: 10px">
  <div class="col-xs-12">
    
      <a  class="list-group-item clearfix "  *ngFor="let data of recepie"  (click)="getdata(data)"  >
        <div class="d-flex justify-content-around" >
          <div class="pull-left" >
          <h4 lass="list-group-item-heading">{{ data.name }}</h4>
          <p class="list-group-item-text">{{ data.description }}</p>
        </div>
        <div>
          <img
          [src]="data.imagePath"
            class="img-responsive"
            style="max-height: 80px"
            />
        </div>
      </div>
      <hr />
    </a>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-xs-12"> -->
   
   
    <!-- <router-outlet></router-outlet> -->
    <button class="btn btn-success" style="margin-bottom: 10px;" (click)="addnewRecepie()">New Recepie</button> 
    <app-recepies-item *ngFor="let data of recepie; let i =index"
    [recepie] ="data" [id] ="i" 
    ></app-recepies-item>
  <!-- </div>
</div> -->

<!--card view-->
<!-- <div  style="margin-top: 10px" >
  <div
    class="card-group "
    style="height: 200px; width: 300px"
    *ngFor="let data of recepies; let i=index"  
    
    


  
  <br *ngIf="i%2!=0 ? true : false">
    <div class="card " style="margin-left: 20px">
      <div class="whitespace" style="height: 100px; width: 150px">-->
<!--Two way to set src-->
<!--<img class="card-img-top" src={{data.imagePath}}  alt="Card image cap">--><!--1st string interpolatio/n-->
<!--
        <img

          class="card-img-top"
          [src]="data.imagePath"
          alt="Card image cap" />
          -->
<!--2nd Property binding-->
<!--
      </div>
      <div class="card-body">
        <h5 class="card-title">{{i+1}} {{ data.name }}</h5>
        <p class="card-text">{{ data.description }}</p>
      </div>

    
</div>
</div>  -->
