<!-- <div class="mt-5">
  <h1>{{finalData.name}}</h1>
  <div class="card mt-2" style="width: 18rem;">
  <img class="card-img-top" [src]="finalData.imagePath" alt="Card image cap">
</div>
</div> -->

<!-- <div class="row">
  <div class="col-xs-12">
      {{finalData.description}}
  </div>
</div> -->
<!-- <div class="row">
  <div class="col-xs-12">
      Description
  </div>
</div> -->


<h1 *ngIf="finalData">Recepie Detail</h1>
 <a  class="list-group-item clearfix "  >
  <div class="d-flex justify-content-around">
    <div class="pull-left">
      <h4 lass="list-group-item-heading">{{ finalData.name }}</h4>
      <p class="list-group-item-text">{{ finalData.description }}</p>
      <!-- <p class="list-group-item-text" *ngFor="let ing of finalData.ingrediants">
        {{ ing.name }} {{ ing.amount }}</p> -->
    </div>
    <div>
      <img
        [src]="finalData.imagePath"
        class="img-responsive"
        style="max-height: 80px"
      />
    </div>
  </div>
</a>

<div *ngIf="finalData" class="dropdown">
  <div class="btn-group ">
  <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Manage Recepie
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" style="cursor: pointer;" (click)="addIngrediants()" >Too Shopping List</a></li>
    <li><a class="dropdown-item" [routerLink]="['/Recepie/recepieeEdit',id]" >Edit Recipe</a></li>
    <li><a class="dropdown-item" >Delete Recipe</a></li>
  </ul>
</div>

 <div class="row mt-3" >
  <div class="col-xs-12">
    <ul class="list-group">
      <p>What else you need to say?</p>
      <li class="list-group-item" *ngFor="let ing of finalData.ingrediants">
          {{ing.name}}
          {{ing.amount}}
      </li>
    </ul>
  </div>
</div> 
